/*  {
  outline: 1px solid red;
} */

html, body {
  overflow-x: hidden;
}

.card-container {
  /* background: #202930; */
  /* background: rgba(32, 41, 48, 0); */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  margin-top: 55px;
  margin-left: 10px;
  width: auto;
  max-width: 500px;
  padding-right: 20px;
}

.video {
  background: #202930;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: auto;
  pointer-events: none;
}


.card {
  background-color: #f5f5f5;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* max-width: 500px; */
  max-width: 100%; /* Ensures it doesn't overflow */
  box-sizing: border-box; 
}


.greeting-card {
  /* text left-aligned inside the card */
  text-align: left;
}

.greeting-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* space-between- puts wave on extreme left & text on extreme right
    to make them closer, I shld use "flex-start" & 
    set manual margins. */
}

.wave {
  font-size: 2.1rem;
  margin-right: 20px;
}

/* Right-side text block */
.text-right {
  text-align: right;
}

.hello-text {
  text-align: left;
  margin: 0;
  font-size: 1rem;
  color: #878b97;
}

.name {
  text-align: left;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #1c3246;
}


.card h2 {
  margin: 0;
  font-weight: 500;
  /* color: #2f73b9; */
  font-size: 1.89rem;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  white-space: nowrap;
}

.card .highlight {
  color: #2f73b9;
}

.card h2:nth-child(2) {
  color: #1c3246;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  scroll-behavior: unset;
}

 button {
  margin-top: 20px;
  font-family: "Montserrat", serif;
}

/*
.button button {
  margin: 0;
  background-color: #2f73b9;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  padding: 12px 24px; 
  border: none;
  border-radius: 8px;
  font-weight: 700; 
  font-size: 1.1rem; 
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: auto; 
  letter-spacing: 1px;
  cursor: none;
}

.button button:hover {
  background-color: rgba(29, 161, 242, 0.5); 
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button button:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */


.resume-link {
  margin: 0;
  background-color: #2f73b9;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  cursor: pointer;
}

.resume-link:hover {
  background-color: rgba(29, 161, 242, 0.5);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.resume-link:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* MainContent.css */
.pdf-viewer-overlay {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-viewer-container {
  position: relative;
  width: 80%;
  height: 90%;
  background: white;
  border-radius: 8px;
  padding: 20px;
}

.pdf-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.close-button {
  position: absolute;
  right: -15px;
  top: -15px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
}

.social-media {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin: 0;
  text-decoration: none;
  padding-bottom: 0;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  /* border: 2px solid #007BFF; */
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  cursor: none;
}

.social-icon:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  /* border: 2px solid #007BFF; */
  border-radius: 50%;
  font-size: 2rem;
  color: #f5f5f5;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.social-icon:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  /* border: 2px solid #007BFF; */
  border-radius: 50%;
  font-size: 2rem;
  color: #f5f5f5;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.social-icon:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  /* border: 2px solid #007BFF; */
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.social-icon:nth-child(1):hover {
  background-color: #454550;
  transform: scale(1.1);
}


.social-icon:nth-child(2):hover {
  background-color: #1da1f2;
  transform: scale(1.1);
}

.social-icon:nth-child(3):hover {
  background-image: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  transform: scale(1.1);
}

.social-icon:nth-child(4):hover {
  background-color: #1DA1F2;
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    align-items: flex-start;
    margin-left: 10px;
    width: 100%;
    z-index: 4;
  }

  .card {
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    box-sizing: border-box;
  }

  .card h2 {
    margin: 0;
    font-weight: 500;
    color: #202930;
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .card h2:nth-child(2) {
    color: #1c3246;
    font-weight: bold;
  }

  .card .highlight {
    color: #2f73b9;
  }

  .wave {
    font-size: 2.1rem;
    margin-right: 20px;
  }

  .hello-text {
    text-align: left;
    margin: 0;
    font-size: 1rem;
    color: #878b97;
    font-weight: 200;
  }

  .name {
    text-align: left;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1c3246;
  }

  .video {
    background: #202930;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: auto;
    pointer-events: none;
  }

  .button button {
    padding: 8px 16px; /* Smaller padding for mobile */
    font-size: 0.9rem; /* Smaller font size for mobile */
    width: 100%; /* Full width on mobile for better touch targets */
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    /* border: 2px solid #007BFF; */
    border-radius: 50%;
    font-size: 1.6rem;
    color: white;
    transition: 0.3s ease-in-out;
    text-decoration: none;
  }

  .social-icon:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    font-size: 1.6rem;
    color: #f5f5f5;
    transition: 0.3s ease-in-out;
    text-decoration: none;
  }

  .social-icon:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    font-size: 1.6rem;
    color: #f5f5f5;
    transition: 0.3s ease-in-out;
    text-decoration: none;
  }

  .social-icon:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    font-size: 1.6rem;
    color: white;
    transition: 0.3s ease-in-out;
    text-decoration: none;
  }
}


@media (min-width: 769px) {
  .card-container {
    margin-left: 10%; /* Adjust margin for larger screens */
    margin-right: 10%; /* Add right margin for balance */
  }
}

